body {
    background-color: #1F1F1F;
}

.eppol-logo {
    filter: invert(100%);
}

.white-note {
  filter: invert(100%) brightness(200%);
}

.home-page-gradient {
    background-image: linear-gradient(to bottom right, #F7415E, #F2233A, #e2172f, #F2233A, #F7415E);
}



.nav-link-selected {
    background-color: #39393B;
}

.accedi {
    font-size: 10px;

}

.footer {
    font-size: 12px !important;
    background-color: #323232;
}

/* header */
header {
    background-color: #252526;
    border-right: solid 1px #39393B;
}

.sidebar-fixed {
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    z-index: 1020;
}


/* player */

#player {
    background-color: #2C2C2C !important;
}


@media only screen and (max-width: 768px) {
    #player {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        z-index: 100;
        width: 95%;
        border-radius: 10px;
        background-color: #232323;
    }
}

@media only screen and (min-width: 768px) {
    #player {
        position: sticky;
        top: 0;
        z-index:1090
    }
}

.player-buttons:hover {
    color: white !important;
}
.player-buttons:active {
    background-color: grey !important;
    border-radius: 20px;
}

.player-song-title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    width: auto;
}

@media (max-width: 768px) {
  .player-song-title {
    max-width: 200px;
  }
}

/* mobile navbar toggle */

#toggol {
    color: transparent !important;
}

#toggol .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='red' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.offcanvas {
    background-color: #232323;
}

.btn-close {
    filter: invert(0.3) sepia(1) 
            saturate(10) hue-rotate(-10deg);
}





